# dependencies
node_modules
.pnp
.pnp.js

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
coverage

# turbo
.turbo

# vercel
.vercel

# build outputs
.next/
out/
build
dist

# debug
npm-debug.log*

# misc
.DS_Store
*.pem

# mise
.mise.local.toml
